.subtitles {
    display: flex;
    justify-content: space-between;
}

#list div {
    width: 45px;
    background-color: blue;
    display: inline-block;
    margin: 0 5px;
    transition: 0.2s all ease;
}
